@import "./../../styles/variables";
@import 'node_modules/react-modal-video/scss/modal-video.scss';

$nextArrowSlider: url("./../../assets/Images/LandingPage/SliderSection/Slider-next.png");
$prevArrowSlider: url("./../../assets/Images/LandingPage/SliderSection/Slider-prev.png");

.video-slider {
  padding-top: 3rem;
  padding-bottom: 60px;

  .section-title {
    text-align    : center;
    color         : $primary-color;
    font-weight   : bold;
    margin-bottom : 2rem;
    text-transform: uppercase;

    @media #{$sm} {
      padding: 0 1rem;
    }
  }

  .video-row {
    h3 {
      font-size  : 30px;
      font-weight: 700;
      color      : #FFFFFF;
      font-family     : "Poppins", 'Segoe UI', 'Ubuntu','Droid Sans', sans-serif;
      width: 100%;
      text-align: center;
    }
  }

  .video-carousel {
    font-family     : "Poppins", 'Segoe UI', 'Ubuntu','Droid Sans', sans-serif;
    .control-arrow {
      background : #333;
      opacity    : 1;
      height     : 50px;
      display    : flex;
      align-items: center;
      position   : absolute;
      top        : 28%;
    }

    .control-next {
      right: 1%;
    }

    .control-prev {
      left: 1%;
    }

    .slider-wrapper {
      overflow: visible;
    }

    .slide {
      background    : none;
      //   transform: scale(.8);
      opacity       : 0.5;

      .video-image-wrapper {
        height : 400px;
        padding: 2.5rem;

        @media #{$sm} {
          padding: 1.5rem;
          height : 250px;
        }

        img {
          height    : 100%;
          object-fit: cover;
        }
      }

      h1 {
        font-size: 24px;
        margin   : 1rem 0;
      }
    }

    ul {
      li {
        .slide-content {
          visibility: hidden;
        }
      }

      .selected {
        opacity: 1;

        .video-image-wrapper {
          //box-shadow: 0 0 16px #aaa;
          padding   : 0.5rem;
          position  : relative;

          .play-button-wrap {
            position       : absolute;
            top            : 50%;
            left           : 50%;
            transform      : translate(-50%, -50%);
            border-radius  : 50%;
            width          : 88px;
            height         : 88px;
            border         : 1px solid #fff;
            display        : flex;
            justify-content: center;
            align-items    : center;
            cursor         : pointer;

            .play-button {
              font-size      : 2.7rem;
              color          : #333;
              border-radius  : 50%;
              background     : #ffffff;
              width          : 80px;
              height         : 80px;
              display        : flex;
              justify-content: center;
              align-items    : center;
            }
          }
        }

        .slide-content {
          visibility: visible;

          h4,
          h5 {
            color      : #FFFFFF;
            font-weight: bold;
            margin-top : 1rem;
            font-family     : "Poppins", 'Segoe UI', 'Ubuntu','Droid Sans', sans-serif;
          }

          ul {
            list-style-type: none;
            padding        : 0;
            color          : $primary-color;

            li {
              display    : block;
              font-size  : 13px;
              line-height: 24px;
              font-weight: 500;
            }

            li:before {
              content: "• ";
            }
          }

          .rate {
            color      : $primary-color;
            font-weight: bolder;
            font-size  : 2.5rem;
          }

          .rate-deleted {
            color    : $primary-color;
            font-size: 1.5rem;
          }

          .slide-content {
            h5 {
              font-size: 15px;
              color    : gray;
            }
          }

          button {
            background-color: #fff;
            // border-color: #fff;
            border          : 1px solid $secondary-color !important;
            border-radius   : 0 !important;
            width           : 200px;

            &:hover {
              background-color: $secondary-color;
            }
          }

          .description {
            span {
              display: block;
            }
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

// .video-slider {
//   // padding         : 5rem 0rem;
//   background-color: #FFFFFF;
//   margin-bottom   : 50px;

//   .carousel .control-dots {
//     bottom: 15px !important;

//     @media #{$xsm} {
//       bottom: 0px !important;
//     }

//     .dot {
//       background: #2E3751;
//       width     : 10px;
//       height    : 10px;
//     }
//   }

//   .video-row {
//     padding-bottom: 5px;

//     @media #{$xsm} {

//       padding-bottom: 15px;
//     }

//   }

//   .section-title {
//     text-align    : center;
//     color         : $primary-color;
//     font-weight   : bold;
//     margin-bottom : 2rem;
//     text-transform: uppercase;

//     @media #{$sm} {
//       padding: 0 1rem;
//     }
//   }

//   h5 {
//     padding    : 0 0 2rem 0;
//     text-align : center;
//     font-size  : 32px;
//     font-weight: 900;
//     color      : #2e3751;

//     @media #{$xsm} {
//       font-size     : 22px;
//       padding-bottom: 1rem;
//     }
//   }

//   .video-carousel {

//     .control-arrow {
//       // background : $primary-color;
//       opacity    : 1;
//       height     : 50px;
//       width      : 50px;
//       display    : flex;
//       align-items: center;
//       position   : absolute;
//       top        : 28%;

//       @media #{$xsm} {
//         top: 22%;
//       }
//     }

//     .control-next {
//       right            : 10%;
//       // top  : 48%;
//       background-image : $nextArrowSlider;
//       background-size  : contain;
//       background-repeat: no-repeat;

//       @media #{$sm} {
//         top: 40%;
//       }
//     }

//     .control-prev {
//       left             : 10%;
//       // top : 48%;
//       background-image : $prevArrowSlider;
//       background-size  : contain;
//       background-repeat: no-repeat;

//       @media #{$sm} {
//         top: 40%;
//       }
//     }

//     .slider-wrapper {
//       overflow: visible;
//       margin  : 1% 0;
//     }

//     .slide {
//       // background: #fff;
//       //   transform: scale(.8);
//       opacity: 0.5;
//       padding: 0px 25px;
//       margin : 0px 15px;

//       .video-image-wrapper {
//         height          : 100%;
//         // padding: 1rem 1.5rem;
//         background-color: transparent !important;

//         @media #{$sm} {
//           // padding: 1.5rem;
//           height: 250px;
//         }

//         img {
//           height       : 220px;
//           object-fit   : contain;
//           width        : 100%;
//           display      : block;
//           margin       : 0px auto;
//           // margin-top: 25px;
//         }
//       }

//       h1 {
//         font-size: 24px;
//         margin   : 1rem 0;
//       }
//     }

//     ul {
//       li {
//         .slide-content {
//           visibility: hidden;
//         }
//       }

//       .selected {
//         opacity  : 1;
//         transform: scale(1.2);

//         .video-image-wrapper {
//           // box-shadow: 4px 1px 14px #ddd;
//           // padding: 1rem 1.5rem;
//           position        : relative;
//           width           : 100%;
//           height          : 100%;
//           background-color: #fff;

//           .play-button-wrap {
//             position       : absolute;
//             top            : 50%;
//             left           : 50%;
//             transform      : translate(-50%, -50%);
//             border-radius  : 50%;
//             width          : 88px;
//             height         : 88px;
//             border         : 1px solid $primary-color;
//             display        : flex;
//             justify-content: center;
//             align-items    : center;
//             cursor         : pointer;

//             .play-button {
//               font-size      : 2.7rem;
//               color          : $white;
//               border-radius  : 50%;
//               background     : $primary-color;
//               width          : 80px;
//               height         : 80px;
//               display        : flex;
//               justify-content: center;
//               align-items    : center;

//               @media #{$xsm} {
//                 width : 62px;
//                 height: 62px;
//               }
//             }

//             @media #{$xsm} {
//               width : 68px;
//               height: 68px;
//             }
//           }
//         }

//         .slide-content {
//           visibility: visible;

//           h4 {
//             color      : $primary-color;
//             font-weight: bold;
//             margin-top : 1rem;
//           }

//           ul {
//             list-style-type: none;
//             padding        : 0;
//             color          : $primary-color;

//             li {
//               display    : block;
//               font-size  : 13px;
//               line-height: 24px;
//               font-weight: 500;
//             }

//             li:before {
//               content: "• ";
//             }
//           }

//           .rate {
//             color      : $primary-color;
//             font-weight: bolder;
//             font-size  : 2.5rem;
//           }

//           .rate-deleted {
//             color    : $primary-color;
//             font-size: 1.5rem;
//           }

//           .slide-content {
//             h5 {
//               font-size: 15px;
//               color    : gray;
//             }
//           }

//           button {
//             background-color: #fff;
//             // border-color: #fff;
//             border          : 1px solid $secondary-color !important;
//             border-radius   : 0 !important;
//             width           : 200px;

//             &:hover {
//               background-color: $secondary-color;
//             }
//           }

//           .description {
//             span {
//               display: block;
//             }
//           }
//         }
//       }
//     }
//   }

//   p {

//     @media #{$xsm} {
//       padding  : 0px 15px;
//       font-size: 15px;
//     }
//   }

//   @media #{$xsm} {

//     padding: 3rem 0px;

//   }
// }

// .slider-heading {
//   color        : #000000 !important;
//   font-size    : 24px;
//   font-weight  : 700;
//   margin-bottom: 2rem;
// }

// .slider-arabic-title {
//   font-family: $cairo;
// }

// .video-image-wrapper h5 {
//   font-size  : 24px;
//   font-weight: 900;
//   padding    : 0 0 0rem 0;

//   @media #{$xsm} {
//     font-size    : 17px;
//     margin-bottom: .5rem;
//   }

// }

// .slider_hide_content p {
//   font-size: 17px;

//   @media #{$xsm} {
//     font-size: 12px;
//     padding  : 0px 9px;
//   }
// }

// .flip-card-front {

//   display: flex;

// }

// .flip-card {

//   @media #{$xsm} {

//     height: 100%;
//   }
// }

// .product-slider {

//   img {
//     // height: 250px;
//     // height: 502px;
//     // width: auto !important;
//     transition: .3s all ease-in;

//     &:hover {

//       transform: scale(1);
//     }

//   }


//   h5 {
//     font-size     : 22px;
//     margin-bottom : 0px;
//     padding-bottom: 1rem;
//   }

//   .about-text-detail {
//     // padding: 0px 5rem;
//     padding: 0px 0px;

//   }


// }


// .video-slider {

//   .video-promo-content {
//     position: absolute;
//     width   : 90%;
//     bottom  : 50%;
//   }

//   .carousel .control-arrow:before,
//   .carousel.carousel-slider .control-arrow:before {
//     display: none;
//   }

//   .carousel.carousel-slider .control-arrow:hover {

//     background-color: transparent;
//   }

//   .control-next:hover {
//     background-image : $nextArrowSlider !important;
//     background-size  : contain !important;
//     background-repeat: no-repeat !important;
//   }

//   .control-prev {
//     background-image : $prevArrowSlider !important;
//     background-size  : contain !important;
//     background-repeat: no-repeat !important;
//   }
// }

// .buhen-slider-description {

//   // padding: 0px 250px;
//   padding-top: 30px;

//   p {
//     font-size: 12px;
//   }

// }

// @media (max-width: 1024px) {

//   .buhen-slider-description {
//     padding: 0 15px;
//   }
// }

// @media (max-width: 768px) {

//   .control-arrow {
//     display: none !important;
//   }

// }