@import "./../../styles/variables";

.speakers_data {
  text-align: center;
}

.speakers_data img {
  border       : 5px solid #2E3751;
  border-radius: 50%;
  margin-bottom: 30px;

  @media #{$xsm} {
    margin-bottom: 15px;
  }
}

.speakers_data span {
  color      : #000;
  font-weight: 700;
}

.speakers_data p {
  color      : #000;
  font-weight: 500;
  font-size  : 15px;
}

.speakers_data h2 {
  font-size: 24px;
  @media #{$xsm}{

    font-size: 20px;
    margin-bottom: 4px;
  }

}

.speakers_main {
  padding         : 5rem 0rem;
  background-color: #f2f2f2;

  @media #{$xsm}{
    padding: 3rem 0rem;
  }
}