@import "./../../styles/variables";

.aboutWrap {
  padding: 0px 0px 50px;
  color: #000;
  font-family: "Montserrat", sans-serif;

  .about-buraq-row {
    // @media #{$sm} {
    //   display: flex;
    //   flex-direction: column;
    // }
    padding: 50px 0 0 0;
    background: #071c35;

    .rozella-heading {
      font-size: 25px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 2rem;
      color: #ffffff;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 22px;
        text-align: center;
      }
    }

    .tabBtn {
      font-size: 18px;
      font-weight: 700;
      background: rgba(255, 255, 255, 0.6);
      color: #ffffff;
      border: none;
      padding: 1rem 2rem;
      margin-right: 2rem;
      text-transform: uppercase;

      @media #{$sm} {

        margin-right: 0rem;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.active {
        background: #ffffff;
        color: #071c35;
      }

      &:focus {
        outline: 0;
        color: #071c35;
        background: #ffffff;
      }

      @media (max-width: 767px) {
        font-size: 16px;
        width: 100%;
      }

      @media (max-width: 861px) {
        font-size: 15px;
      }

    }
  }

  .rozella-row {
    padding: 50px 0px 0px 0px;

    @media #{$md} {
      text-align: center;
    }

    .rozella-heading {
      font-size: 25px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 2rem;

      // text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 22px;
        text-align: center;
      }
    }

    .first {
      font-size: 25px;

      @media #{$sm} {
        font-size: 20px;
        text-align: center;
      }

      @media #{$md} {
        text-align: center;
      }
    }

    .rozella-para {
      font-size: 16px;
      text-align: justify;
      font-weight: 400;

      @media #{$sm} {
        font-size: 14px;
      }
    }
  }

  .zoom-in-out-box {
    animation: zoom-in-zoom-out 3s ease infinite;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.1, 1.1);
    }

    100% {
      transform: scale(1, 1);
    }
  }
}