@import "./../../styles/variables";

.subscribe-form-wrap {
  @media #{$sm} {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.subscribe-header-wrap {
  font-size: 24px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-button-wrap {
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  padding: 0 0.5rem;
  width: 90%;
  margin: auto;
  @media #{$sm} {
    width: 100%;
  }
}

.subscribe-arabic-text {
  font-family: Arial, sans-serif;

}
