@import "./../../styles/variables";

.footerWrape {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  background: #071c35;

  .footerTopWrape {
    padding: 3rem 0 1rem 0;
    .title {
      font-weight: 700;
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 1rem;
      @media (max-width: 543px) {
        text-align: center;
      }
    }
    .subtitle {
      font-weight: 400;
      font-size: 15px;
      color: #ffffff;
      text-align: justify;
      @media (max-width: 543px) {
        text-align: center;
      }
    }
    .footerEmail {
      font-weight: 600;
      font-size: 17px;
      a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          opacity: 0.6;
        }
      }
      @media (max-width: 543px) {
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }
  }

  .footerbottomWrape {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .copyright-text-para {
      display: flex;
      justify-content: center;
      align-items: center;

      @media #{$sm} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      span {
        a {
          color: #fff;
        }
      }

      .iconsWrape {
        @media (max-width: 543px) {
          margin-top: 15px;
        }
        .rozella-social-icon {
          border: 1px solid #ffffff;
          padding: 0.5rem 0.7rem;
          background: transparent;
          margin-left: 10px;
          text-align: center;
          border-radius: 4px;
          cursor: pointer;
          color: #ffffff;

          &:hover {
            background: #ffffff;
            color: #071c35 !important;
          }

          @media (max-width: 500px) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
