body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, sans-serif;
}

.navbar {
  background: transparent;
  padding: 20px 0;
}

.custom-nav.affix {
   
  background: #1b1b1b !important;
  border-bottom: 1px solid #333333 !important;

}