body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

code {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background: transparent;
  /* padding: 20px 0; */
}

/* .custom-nav.affix {
  background: #000 !important;
  border-bottom: 1px solid #000 !important;
} */
